.container {
  padding: 0px 32px;
  margin: 0 auto;
  @include md {
    padding: 0px 64px;
    max-width: $md;
  }
  @include xl {
    max-width: $xl4;
  }
}


// 'xs': '20rem',
// 'sm': '30rem',
// 'md': '40rem',
// 'lg': '50rem',
// 'xl': '60rem',
// '2xl': '70rem',
// '3xl': '80rem',
// '4xl': '90rem',
// '5xl': '100rem',
// 'full': '100%',