$neutral: #A9AFD9;
$rimac-red: rgb(235 33 70);
// maxWidth
$xs: 20rem;
$sm: 30rem;
$md: 40rem;
$lg: 50rem;
$xl: 60rem;
$xl2: 70rem;
$xl3: 80rem;
$xl4: 90rem;
$xl5: 100rem;
$full: 100%;

//titles color

$title-gray1: #494F66;
$title-gray2: #676F8F;